:root {
	--primary_colour: #001d3d;
    --border_radius: 5px;
    --gap_5day: 0.5rem;
}

/* reset */
* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  line-height: 1.5;
}

.myHeader {
    background-color: var(--primary_colour);
}

#search-input {
    width: 100%;
}

button {
    border: 0;
}

.searchBtn, .clearBtn {
    background-color: var(--primary_colour);
    color: white;
    border-radius: 0.25rem;
    margin-top: 10px;
    overflow: visible;
    width: 100%;
}

.cityBtn {
    background-color: grey;
    color: white;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 0.25rem;
}

.myForm {
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
}

.myContainer {
    margin: 0;
}

#todayH2, #todayH2 span {
    margin-bottom: 0.5rem;
}

.today {
    border: 1px black solid;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;  
}

#searchSection {
    margin-top: 1rem;
}

.today {
    padding: 1rem;
    color: black;
    border-radius: var(--border_radius);
}

.forecastBox {
    padding: 1rem;
    background-color: var(--primary_colour);
    color: white;
    border-radius: var(--border_radius);
}

.forecastBox span {
    font-size: 32px;
}

@media screen and (min-width: 1400px) {
    .forecast5Col {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
        gap: var(--gap_5day);
    }
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
    .forecast5Col {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
        gap: var(--gap_5day);
    }
}

@media screen and (min-width: 750px) and (max-width: 991px) {
    .forecast5Col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        gap: var(--gap_5day);
    }
}

@media screen and (max-width: 749px) {
    .forecast5Col {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: var(--gap_5day);
    }
}